.main-addresses-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.addresses-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1400px;
  margin: 20px;
}
.addresses,
.ant-radio-group {
  width: 100%;
}

.address-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
  width: 100%;
  max-width: 350px;
  height: 250px;
  border-radius: 20px;
  border: 2px solid var(--text-color);
  cursor: pointer;
  box-sizing: border-box;
}
.address-box:hover {
  border: 4px solid var(--mainColor);
  padding: 18px;
  transition: 200ms;
}

.address-box.selected {
  border: 2px solid var(--mainColor);
  padding: 20px;
}

.new-address form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-address form input {
  width: 100%;
  max-width: 500px;
}
.new-address form input.short {
  width: 100px;
}

.new-address label {
  font-weight: bold;
}

.new-address select {
  width: 30%;
  position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 8px 4px;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.addresses-content button {
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 200px;
  min-height: 40px;
  border: none;
  background-color: var(--mainColor);
  font-weight: bold;
  color: black;
}

.ant-radio-wrapper {
  display: flex;
}
/*
.ant-radio-checked .ant-radio-inner,
.ant-radio-inner:hover {
  border-color: var(--mainColor);
}
.ant-radio-inner::after {
  background-color: var(--mainColor);
}*/
.select-new-address {
  display: flex;
  align-items: center;
  color: var(--mainColor);
  cursor: pointer;
}
.select-new-address p {
  margin: 0;
  font-size: 18px;
  width: 100%;
}

.ant-radio-checked .ant-radio-inner {
  border-color: var(--mainColor) !important;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: var(--mainColor) !important;
}

.ant-radio:hover .ant-radio-inner {
  border-color: var(--mainColor) !important;
}

.ant-radio-checked .ant-radio-inner:focus {
  border-color: var(--mainColor) !important;
}
.new-address input:focus,
.new-address input:hover {
  border-color: #d9d9d9;
}
.ant-modal-header {
  background-color: var(--mainColor);
}
.ant-modal-title,
.ant-modal-close-x {
  color: white;
}
.ant-btn-primary {
  border-color: var(--mainColor);
  background: var(--mainColor);
}
.ant-btn:hover {
  color: white;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
.ant-btn-primary:hover {
  background-color: white;
  color: var(--mainColor);
  border-color: var(--mainColor);
}
.ant-radio-wrapper {
  white-space: normal;
}
