/* .full-page-wrapper {
  min-width: 100vw;
  min-height: 100vh;
}

.product-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.product-page-container {
  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
  border-radius: 20px;
  flex: 1 0 auto;
  background-color: white;
  display: flex;
}

.photos-column {
  padding: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.photos-column .go-back-btn {
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}
.photos-column .go-back-btn .icon {
  color: var(--mainColor);
  width: 20px;
  height: 20px;
}

.photos-column .img-container {
  width: 90%;
  height: 90%;
  max-height: 400px;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.photos-column .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

.photos-column .thumbnails {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.photos-column .thumbnails img {
  height: 50px;
  width: 50px;
  margin: 5px 2.5px;
  border-radius: 5px;
  cursor: pointer;
}

.photos-column .thumbnails div {
  margin-left: 10px;
}

.info-column {
  margin: 40px;
  margin-top: 0;
  width: 50%;
}

.info-column .divider-line {
  width: 100%;
  height: 1px;
  background-color: black;
}

.info-column .prices {
  padding: 20px 0;
}

.info-column .prices h2 {
  font-size: 2.2rem;
}

.info-column .prices .main-price.sale {
  font-size: 1.5rem;
  text-decoration: line-through;
}

.info-column .prices .sale-price {
  color: var(--green-color);
}

.info-column .options {
  display: flex;
  justify-content: space-between;
}

.info-column .options .subproduct-options {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px 0;
  font-size: 1.1rem;
}

.info-column .options .subproduct-options .option-selector {
  display: flex;
  font-weight: bold;
}

.info-column .options .subproduct-options .option-selector img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;
}

.info-column .options .subproduct-options .option-selector img.selected {
  border: 2px solid grey;
}

.info-column .options .subproduct-options .chosen-option {
  display: flex;
}
.info-column .options .subproduct-options .chosen-option p + p {
  margin-left: 5px;
}

.options .quantity-options {
  display: flex;
  align-items: center;
  line-height: 1rem;
  font-size: 1rem;
}

.options .quantity-options p {
  margin: 0;
  font-size: 1.3rem;
}

.options .quantity-options .quantity-changer {
  margin: 0 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.options .quantity-options .quantity-changer.locked {
  color: grey;
  cursor: default;
}

.buy-button {
  background-color: var(--green-color);
  color: white;

  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;

  font-weight: normal;
  font-size: 1.4rem;
}

.unavailable {
  background-color: red;
  color: white;

  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: normal;
  font-size: 1.4rem;
}

.info-column .shipping {
  margin-top: 20px;
  height: 2rem;
  display: flex;
  align-items: center;
}

.info-column .shipping input {
  border: 2px solid var(--mainColor);
  outline: none;
  height: 100%;
  padding: 0;
}

.info-column .shipping button {
  height: 100%;
  border: 2px solid var(--mainColor);
  border-radius: 0 0.5rem 0.5rem 0;

  background-color: var(--mainColor);
}
.fiheartDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.fiheart {
  font-size: 35px;
  margin-top: 10px;
  margin-right: 10px;
  color: #cf1b1b;
  cursor: pointer;
}

@media (max-width: 900px) {
  .product-page-container {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 0;
  }
  .photos-column,
  .info-column {
    width: 90%;
    align-items: center;
  }
  .photos-column .thumbnails {
    justify-content: center;
  }
  .photos-column .img-container img {
    position: relative;
    height: min(400px, 90vw);
    width: min(400px, 90vw);
  }
} */

.full-page-wrapper {
  min-width: 100vw;
  min-height: 100vh;
}

.product-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.product-page-container {
  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
  border-radius: 20px;
  flex: 1 0 auto;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}

.not-description-wrapper {
  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
  border-radius: 20px;
  flex: 1 0 auto;
  /* background-color: white; */
  display: flex;
}

.description {
  margin-top: 30px;
}

.photos-column {
  padding: 0 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.photos-column .go-back-btn {
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}
.photos-column .go-back-btn .icon {
  color: var(--mainColor);
  width: 20px;
  height: 20px;
}

.photos-column .img-container {
  width: 90%;
  height: 90%;
  max-height: 400px;
  max-width: 400px;
  /* margin-top: 20px; */
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.photos-column .img-container img {
  width: 100%;
  height: 100%;
}

.photos-column .thumbnails {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.photos-column .thumbnails img {
  height: 50px;
  width: 50px;
  margin: 5px 2.5px;
  border-radius: 5px;
  cursor: pointer;
}

.photos-column .thumbnails div {
  margin-left: 10px;
}

.full-page-wrapper .info-column h2.title {
  font-weight: bold;
}

.info-column {
  margin: 40px;
  margin-top: 0;
  width: 50%;
}

.info-column .divider-line {
  width: 100%;
  height: 1px;
  background-color: black;
}

.info-column .prices {
  /* padding: 20px 0; */
  display: flex;
}

.info-column .prices h2 {
  font-size: 1.6rem;
}

/* .info-column .prices .main-price.sale {
  font-size: 1.5rem;
  text-decoration: line-through;
} */

.info-column .prices .main-price.sale {
  position: relative;
  margin-right: 10px;
  font-size: 1.6rem;
}
.info-column .prices .main-price.sale:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: var(--mainColor);

  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.info-column .prices .sale-price {
  color: var(--text-color);
}

.info-column .options {
  display: flex;
  justify-content: space-between;
}

.info-column .options .subproduct-options {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px 0;
  font-size: 1.1rem;
  width: 100%;
}

.info-column .options .subproduct-options .option-selector {
  display: flex;
  font-weight: bold;
  flex-direction: column;
}

.info-column .options .subproduct-options .option-selector img {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  margin: 5px 5px;
  cursor: pointer;
}

.info-column .options .subproduct-options .option-selector img.selected {
  border: 2px solid grey;
}
.info-column .options .subproduct-options .option-selector p.selected {
  font-weight: bold;
  font-size: 18px;
}

.info-column
  .options
  .subproduct-options
  .option-selector
  .subproduct-wrapper:not(:first-child) {
  border-bottom: 1px solid gray;
}

.option-selector .subproduct-wrapper {
  display: flex;
  align-items: center;
  /* border: 1px solid gray;
  border-right: 0;
  border-left: 0; */
}

.option-selector .subproduct-wrapper p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.info-column .options .subproduct-options .chosen-option {
  display: flex;
  height: 100%;
  align-items: center;
}
.info-column .options .subproduct-options .chosen-option p + p {
  margin-left: 5px;
}

.options .quantity-options {
  display: flex;
  align-items: center;
  line-height: 1rem;
  font-size: 1rem;
}

.options .quantity-options p {
  margin: 0;
  font-size: 1.3rem;
}

.options .quantity-options .quantity-changer {
  margin: 0 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.options .quantity-options .quantity-changer.locked {
  color: grey;
  cursor: default;
}

.product-page-wrapper .buy-button {
  background-color: var(--mainColor);
  color: var(--text-color);
  width: 100%;
  height: 40px;
  border: none;
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.product-page-wrapper button.buy-button:hover {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--mainColor);
}
.product-page-wrapper button.wishlist-button {
  background-color: transparent;
  color: var(--text-color);
  width: 100%;
  height: 40px;
  border: 1px solid var(--mainColor);
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.product-page-wrapper button.wishlist-button:hover {
  background-color: var(--mainColor);
  color: var(--text-color);
  border: none;
}

.unavailable {
  background-color: #a6a9b6;
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.info-column .shipping {
  margin-top: 20px;
  height: 2rem;
  display: flex;
  align-items: center;
}

.info-column .shipping input {
  border: 2px solid var(--mainColor);
  outline: none;
  height: 100%;
  padding: 0;
}

.info-column .shipping button {
  height: 100%;
  border: 2px solid var(--mainColor);
  border-radius: 0 0.5rem 0.5rem 0;

  background-color: var(--mainColor);
}
.fiheartDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.fiheart {
  font-size: 35px;
  margin-top: 10px;
  margin-right: 10px;
  color: #cf1b1b;
  cursor: pointer;
}

@media (max-width: 900px) {
  .product-page-container {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 10px;
  }
  .photos-column {
    width: 100%;
    align-items: center;
  }
  .info-column {
    width: 90%;
    align-items: center;
    margin: 23px;
  }
  .photos-column .thumbnails {
    justify-content: center;
  }
  .photos-column .img-container img {
    position: relative;
    height: min(400px, 90vw);
    width: min(400px, 90vw);
  }
  .not-description-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .product-page-wrapper button.wishlist-button,
  .product-page-wrapper .buy-button {
    font-size: 1rem;
  }
  .photos-column,
  .info-column {
    padding: 0 10px;
  }
}
