.settings-container{
    margin-right: 15%;
    margin-left: 15%;
}

.settings-container h4{
    color: #707070;
}

.settings-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: 70%;
    border-radius: 10px;
    padding: 20px;
}

.settings-content h4{
    padding-top: 15px;
    margin-left: 2%;
}

.settings-data{
    display: flex;
    border-bottom: 1px solid rgba(112, 112, 112, 0.33);
    padding-bottom: 15px;
    margin-right: 2vw;
    margin-left: 2vw;
}


.settings-info{
    display: grid;
    grid-template-columns: repeat(2, 100%);
    width: 50%;
    padding: 5px;
}


.settings-info-item{
    display: flex;
    font-size: 90%;
}

.settings-info-item-form{
    font-size: 90%;
}

.settings-adress-item{
    font-size: 90%;
}

.settings-info-item strong{
    margin-right: 1vw;
}

.settings-button-area{
    width: 35%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-button{
    width: 15vw;
    min-height: 20%;
    border-radius: 8px;
    border: 1px solid #707070;
    background-color: white;
    color: black;
    
}

.settings-key{
    justify-content: start;
}

.settings-adress{
    display: grid;
    flex-direction: block;
    grid-template-columns: repeat(2, 160px);
    padding: 8px;
    grid-gap: 30px;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
}

.settings-button-edit-area {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 80%;
}

.settings-button-edit{
    width: 15vw;
    border-radius: 8px;
    border: 1px solid #bc8d14;
    background-color: #bc8d14;
    color: white;
    margin-left: 20%;
}

.settings-button-delete{
    width: 15vw;
    border-radius: 8px;
    border: 1px solid rgb(173, 43, 43);
    background-color: rgb(173, 43, 43);
    color: white;
    margin-left: 20%;
}

.account-delete {
    display: flex;
    justify-content: center;
    margin: 2vh;
}

.dialogac {
    margin: 0;
}

.contentDialog {
    width: 100%;
}

.userEdit-form {
    display: flex;
    flex-direction: column;
}

.settings-data-form {
    display: grid;
    border-bottom: 1px solid rgba(112, 112, 112, 0.33);
    padding-bottom: 15px;
}

.settings-info-item-form {
    margin: 2vh;
}

.settings-info-form {
    display: grid;
    grid-template-columns: 200px 200px;
}

.modal-delete-title {
    margin-left: 1vw;
    margin-right: 1vw;
}

.passEdit {
    display: flex;
    flex-direction: column;
}
@media (max-width: 1210px) {
    .settings-info-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .settings-data-form {
        width: 100%;
    }
    .settings-content {
        margin-right: 0;
        width: 100%;
    }
    .settings-info-item-form strong{
        font-size: 1.5vh;
    }
    .settings-button-edit-area {
        flex-direction: column;
        justify-content: space-around;
    }
    .settings-button-edit {
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: 0;
    }
    .settings-button {
        margin-bottom: 1vh;
        margin-left: 0;
    }
    .settings-button-delete {
        margin-top: 1vh;
        margin-left: 0;
    }
    .settings-info {
        display: flex;
        flex-direction: column;
    }
    .settings-adress {
        display: flex;
        flex-direction: column;
    }
    .settings-adress-item strong{
     font-size: 1.5vh;
    }
}

