.settings-container{
    margin-right: 15%;
    margin-left: 15%;
}

.settings-container h4{
    color: #707070;
}

.settings-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.settings-content h4{
    padding-top: 15px;
    margin-left: 2%;
}

.settings-data{
    display: flex;
    border-bottom: 1px solid rgba(112, 112, 112, 0.33);
    padding-bottom: 15px;
    margin-left: 2%;
    margin-right: 2%;
}

.settings-img{
    width: 15%;
    height: auto;
    background-color: #B8B8B6;
    border-radius: 16px;
    border: 1px solid black;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.164);
}

.settings-info{
    width: 50%;
    margin-left: 5%;
    padding: 5px;
}

.settings-info-item{
    display: flex;
}

.settings-info-item strong{
    margin-right: 3%;
}

.settings-button-area{
    width: 35%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-button{
    width: 40%;
    min-height: 20%;
    border-radius: 8px;
    border: 1px solid #707070;
    background-color: white;
    color: black;
    margin-bottom: 15px;
    margin-right: 10%;
}

.settings-key{
    justify-content: start;
}

.settings-adress{
    display: grid;
    flex-direction: block;
    grid-template-columns: repeat(2, 160px);
    padding: 8px;
    grid-gap: 30px;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
}

.settings-button-edit-area{
    margin-left: auto;
    width: 50%;
}

.settings-button-edit{
    width: 35%;
    border-radius: 8px;
    border: 1px solid #bc8d14;
    background-color: #bc8d14;
    color: white;
    margin-bottom: 15px;
    margin-left: 40%;
}