.register-container {
    width: 100%;
    max-width: 1120px;
    height: 130vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-container .content {
    padding: 40px;
    background: #FFF;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.register-container section h1 {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

.container {
    margin-top: 20px;
}

.register-container section {
    width: 100%;
    max-width: 350px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    margin-top: 10px;
}

.line {
    height: 1px;
    width: 80%;
    background-color: #707070;
}

.register-container .content form {
    width: 100%;
    max-width: 450px;
}

.input-register {
    margin-bottom: 10px !important;
}

.register-container .content form .input-group {
    display: flex;
}

.flex-row .input-register + .input-register {
    margin-left: 5px;
}