.register-container {
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--mainColor);
}

.register-container .content {
    padding: 40px;
    width: 90%;
    height: auto;
    max-height: 95%;
    max-width: 800px;
    background: #FFF;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.register-container section h1 {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}


.register-container section {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    margin-top: 10px;
}

.back-link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2;
    align-self: flex-start;
}

.back-link:hover {
    opacity: 0.8;
}

.line {
    height: 1px;
    width: 80%;
    background-color: #707070;
}

.register-container .content form {
    width: 100% !important;
}

.input-register {
    margin-bottom: 10px !important;
    width: 100%;
}

.register-container .content form .input-group {
    display: flex;
}

.flex-row .input-register + .input-register {
    margin-left: 5px;
}

@media screen and (max-width:504px){    
.register-container .content{
    border-radius: 0;
}
}