.about-content{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}
.about-content h2 {
    margin-top: 20px;
    margin-bottom: 3%;
}
.about-content .about-institutional {
    width: 100%;
    margin: 2% 0;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content .about-container {
    width: 48%;
    margin-right: 2%;
}
.about-content .about-title svg{
    padding-bottom: 2px;
}
.about-content .about-title svg path {
    fill: black;
}
.about-benefits{
    width: 90%;
    margin: 0 5%;
    justify-content: center;
    align-items: center;
}
.about-benefits-item{
    display: block;
    width: 23%;
    margin: 0 1%;
    text-align: justify;
}
.about-content .about-benefits-title{
    display: flex;
    justify-content: center;
}
.justified-about-container{
    display: flex;
}
.inst-image{
    width: 25%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.inst-image img{
    max-width: 80%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.inst-image-shop {
    width: 25%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background: #dba71f;
}

.about-paragraph{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-paragraph p{
    display: flex;
    justify-content: flex-start;
}

@media(max-width: 1024px){
    .about-content .about-institutional {
        flex-direction: column;
    }
    .about-content .about-container {
        width: 90%;
        margin: 2% 5%;
    }    
    .about-content .about-institutional p {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .inst-image{
        width: 15%;
    }
    .about-content .about-institutional .about-paragraph h3 {
        justify-content: flex-start;
    }
    .about-paragraph {
        width: 85%;
    }
}
@media(max-width: 720px){
    .about-content .about-institutional {
        flex-direction: column;
    }
    .about-content .about-container {
        width: 90%;
        margin: 2% 5%;
    }    
    .about-content .about-institutional p {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .inst-image{
        display: none;
    }
    .justified-about-container{
        justify-content: center;
    }
    .about-paragraph {
        align-items: center;
        width: 100%;
    }
    .about-paragraph p{
        justify-content: center;
        align-items: center;
        
    }
}
@media(max-width: 600px){
    .about-benefits{
        flex-direction: column;
    }
    .about-benefits-item{
        width: 90%;
        margin: 0 5%;
    }
}