.menuBurger {
  /* position: absolute; */
  z-index: 1000;
  cursor: pointer;
  /* right: 10px;
  top: 10px; */
  display: none;
  margin-right: 10px;
}

.menuBurger div {
  background-color: black;
  width: 35px;
  height: 4px;
  margin: 6px 0;
  transition: 0.4s;
}

.menuBurger div.top {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
  transform: rotate(-45deg) translate(-7px, 6px);
}

.menuBurger div.middle {
  opacity: 0;
}

.menuBurger div.bottom {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px);
}
@media (max-width: 925px) {
  .menuBurger {
    display: block;
  }
}
@media (max-width: 330px) {
  .menuBurger {
    right: 25px;
  }
}
