@import '~antd/dist/antd.css';

.main-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.farol {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.farol h4,
.farol h3{
  color: white;
}

.farol div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: auto;
  border-radius: 10px;
  color: white;
  padding: 45px 0;
}

.orders-item a{
  color: black;
}
.farol h4 {
  font-size: 18px;
  text-align: center;
}

.farol a{
  width: 32%;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 100%;
  text-decoration: none;
}

h4.titulo {
  color: #707070;
}

.farol .pendentes {
  background-color: #BF3838;
  min-width: 100%;
  min-height: 100%;
}

.farol .acabando {
  background-color: #E4B53F;
  min-width: 100%;
  min-height: 100%;
}

.farol .aguardando-aprovacao {
  background-color: #4BBC4C;
  min-width: 100%;
  min-height: 100%;
}

.pedidos-pendentes {
  max-width: 1000px;
  width: 100%;
  /* max-height: 500px; */
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.tabela {
  padding-top: 20px;
}

.cabecalho {
  display: flex;
  font-weight: bold;
}
.product-container {
  display: flex;
}

.product-container .nome, .cabecalho .nome {
  width: 20%;
}
.product-container .email, .cabecalho .email {
  width: 20%;
}
.product-container .user-type, .cabecalho .user-type {
  width: 15%;
}
.product-container .data, .cabecalho .data {
  width: 15%;
}
.product-container .valor, .cabecalho .valor {
  width: 20%;
}
.product-container .status, .cabecalho .status {
  width: 10%;
}
.status-box {
  color:white;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

/* OUTROS */
.orders-container{
  margin-right: 15%;
  margin-left: 15%;
}

.orders-container h4{
  color: #707070;
}


.orders-content {
  background-color: white;
  height: auto;
  box-shadow: 0px 0px 5px 0px rgba(112,144,176,0.33);
  width: 30%;
  min-width: 30vh;
  border-radius: 10px;

  margin-top: 2vh;
  padding: 1%;
}
.ultimos-pedidos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

 .orders-data{
display: flex;
    flex-direction: column;
} 
.orders-item-edit{
  display: flex;
  color: #707070;

}
.orders-item-edit a{
color:black;
}

.orders-container h6{
  font-size: "1.5vh";
  color: #707070;
  margin-left: 20px;
}

.orders-item{
  display: flex;
  flex-direction: column;
  color: #707070;

}



.orders-item strong{
  margin-right: 8px;
}

.orders-button-area{
  width: 20%;
  margin-top: auto;
  display: flex;
  margin-bottom: 20px;
  
}

.orders-info{
  width: 100%;
}

.orders-accept-button{
  margin-right: 15px;
  color: #4BBC4C;
  cursor: pointer;
}

.orders-refuse-button{
  color: #FF0000;
  cursor: pointer;
}



@media (max-width: 600px){
  .orders-content{
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
  }
  .farol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200vw;

  }
  .pendentes {
  margin-top: 1vh;
  margin-bottom: 1vh;
  }
  .acabando {
  margin-top: 1vh;
  margin-bottom: 1vh;
  }
  .aguardando-aprovacao {
  margin-top: 1vh;
  margin-bottom: 1vh;
  }
  .orders-container{
      margin-right: 0;
      margin-left: 0;
  }
  .orders-data{
      display: block;
  }

  .orders-info{
      width: 100%;
  }

  .orders-container h5{
      margin-left: 10px;
  }

  .orders-item{
      display: block;
  }

  .orders-item strong{
      font-size: 14px;
  }

  .orders-button-area{
      width: 25%;
      margin-bottom: 0px;
      margin-top: 0px;
      display: flex;
      margin-left: auto;
  }

  .orders-item-edit{
    color: white;
    margin-left: 80%;
  }
}

.pedidos-pendentes .ant-table-wrapper {
  font-family: 'Roboto' !important;
}
 