
.navbar{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: var(--primary);
}

.topBackground{
    line-height:0;
    border-top: 100px solid #DDBD69;
}
