.notFound{
  background: #F8F8F4;
  color:#DDBD69;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 100%;
}
.notFound .c{
  text-align: center;
  display: block;
  position: relative;
  width:80%;
  margin:100px auto;
}
.notFound ._404{
  font-size: 1000%;
  position: relative;
  display: inline-block;
  margin-bottom: -15%;
  z-index: 2;
  letter-spacing: 15px;
}
.notFound ._1{
  text-align:center;
  display:block;
  position:relative;
  letter-spacing: 12px;
  font-size: 4em;
  line-height: 80%;
}
.notFound ._2{
  text-align:center;
  display:block;
  position: relative;
  font-size: 20px;
}
              
.notFound hr{
  padding: 0;
  border: none;
  border-top: 5px solid #DDBD69;
  color: #DDBD69;
  text-align: center;
  margin: 0px auto;
  width: 60%;
  height:20px;
  z-index: -10;
}
            
.notFound hr:after {
  content: "\2022";
  display: inline-block;
  position: relative;
  top: -0.75em;
  font-size: 2em;
  padding: 0 0.2em;
  background:  #F8F8F4;
}
@media (max-width: 400px){
  .notFound ._1{
    font-size: 190%;
    line-height: 95%;
  }
}