.products-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    width: 225px;
    height: 375px;
    margin: 20px 10px;
    margin-top: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.2s;
}

.Card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Card img {
    width: 180px;
    height: 180px;
    margin: 10px;

}

.image-text-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 10px;
}

#titulo-card {
    margin-bottom: 0;
    font-size: 1.5vh;
    line-height: 20px;;
    color: var(--text-color);
    text-align: center;
}

.price-container {
    justify-content: center;
    min-height: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preco-card {
    color: green;
    font-size: 2.7vh;
}
.preco-card.cortado {
    color: darkred;
    font-size: 2.3vh;
    text-decoration: line-through;
    margin-bottom: 0;
}

.preco-promocao {
    font-size: 2.7vh;
    margin: 0;
    color: green;
}

#botao-comprar {
    display: flex;
    justify-content: center;
    background-color: green;
    text-decoration: none;
    color: white;
    width: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 10px;
}

.loader-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 250px;
    color: white;
    background-color: green;
    border-radius: 20px;
}

@media (max-width: 550px) {
    .products-container {
        flex-direction: column;
    }
    .Card {
        width: 100%;
    }
    .Card img {
        width: 35vw;
        height: 35vw;
    }
}
