#NewHeader {
  position: fixed;
  top: 0;
  width: 100%;
}
#header-wrapper {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 500;
}
#fake-header {
  height: 70px;
}

#NewHeader .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-height: 70px;
  width: 100%;
  background: #f9ce56 0% 0% no-repeat padding-box;
}

.header-categories {
  display: flex;
  width: 55%;
  height: 100%;
}
.header-categories ul,
.header-categories div {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.header-categories ul button {
  display: flex;
  align-items: center;
  background-color: #f9ce56;

  box-shadow: none;
  -webkit-box-shadow: none;

  border: none;
}
.header-categories div:not(:first-child) {
  border-left: 1px solid;
  border-radius: 0;
}

.logoCasulusDashboard {
  border: none;
  position: relative;
  height: 100px;
  border: none;
  margin: 0;
  z-index: 1;
}

.userInfoSearch {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.userInfoSearch .serach-icon {
  cursor: pointer;
  margin: 0 4px;

  transition: color 0.3s;
}
.userInfoSearch .serach-icon:hover {
  color: #1890ff;
}
.icon-link {
  color: black;
  display: flex;
  align-items: center;
}
.icon-link > svg:first-child,
.icon-link-responsive > svg:first-child {
  margin: 0 4px;
  /* width: 25px;
  height: 25px; */
}
.userInfoSearch span {
  font-size: 12px;
  color: #fff;
  vertical-align: super;
  margin-left: -20px;

  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.loginBtn {
  margin: 0 10px;
  border-radius: 5px;
  background-color: var(--mainColor);
  border: 2px solid black;
  font-weight: bold;
  color: black;
  transition: 200ms all;
}

.loginBtn:hover {
  filter: brightness(0.9);
}

/*animações do menu*/
.search-menu-enter {
  opacity: 0;
}
.search-menu-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.search-menu-exit {
  opacity: 1;
}
.search-menu-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
/*--------------------------*/
.categories-header-trans-enter {
  opacity: 0;
}
.categories-header-trans-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.categories-header-trans-exit {
  opacity: 1;
}
.categories-header-trans-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
/*----------------------------*/

#NewHeader .header-search {
  display: flex;
  justify-content: center;
  background: #f9ce56 0% 0% no-repeat padding-box;
  position: absolute;
  width: 100%;
  z-index: 10;

  transition: 0.2s;
}

.header-search .productsSearchHeader input {
  border: 1.8px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;

  padding: 0;
  margin-left: 10px;

  background: #f9ce56 0% 0% no-repeat padding-box;
  font-weight: bold;
}

.header-search .productsSearchHeader input::placeholder {
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.header-search-responsive {
  display: none;
}
.responsive-header-superior {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.responsive-header-superior .icons-responsive-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  height: 100%;
}
.responsive-header-superior .burger-icon {
  margin-left: 10px;
  margin-right: 10px;
}
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 8px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
}

.popover {
  border: 2px solid black;
  background-color: var(--mainColor);
}
.arrow,
.arrow::after,
.arrow::before {
  border-bottom-color: black !important;
}

.cart-popover-wrapper {
  width: 300px !important;
  padding: 20px;
  padding-right: 50px;
}
.cart-popover-wrapper hr {
  color: black;
  border: 1px solid black;
  margin: 0;
}

.price-and-remove-line {
  display: flex;
  justify-content: space-between;
}
.price-and-remove-line button {
  justify-content: space-between;
  border: none;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: underline;
}

.subtotal-balao {
  display: flex;
  justify-content: space-between;
}

.buttons-line {
  display: flex;
  justify-content: space-between;
}

button.to-cart {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}
button.to-addresses {
  border: 1px solid black;
  background-color: black;
  color: white;
}

@media (max-width: 1370px) {
  #NewHeader {
    position: relative;
  }
  #fake-header {
    display: none;
  }
  .header-container {
    flex-direction: column;
    max-height: 200px !important;
  }
}

@media (max-width: 1110px) {
  .header-categories ul span {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .header-container {
    display: none !important;
  }

  #NewHeader .header-search-responsive {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    background: #f9ce56 0% 0% no-repeat padding-box;
  }
  .header-search-responsive .productsSearchHeader-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 860px;

    padding-top: 35px;
    padding-bottom: 15px;
  }
  .header-search-responsive .productsSearchHeader-responsive input {
    border: 1.8px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;

    padding: 0;
    margin-left: 10px;

    background: #f9ce56 0% 0% no-repeat padding-box;
    font-weight: bold;
  }
  .header-search-responsive
    .productsSearchHeader-responsive
    input::placeholder {
    color: black;
    font-weight: bold;
    font-size: 22px;
  }

  .header-search-responsive .responsive-menu {
    display: flex;
    justify-content: center;

    margin-top: 385px;
    background: #f9ce56 0% 0% no-repeat padding-box;

    position: absolute;
    width: 100%;
    z-index: 30;

    transition: 0.2s;
  }

  .responsive-menu ul {
    padding: 0;
  }

  .responsive-menu ul li {
    list-style-type: none;
  }
}
