.image-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2vh;
}

.image-container img{
    max-height: 40vh;
    max-width: 1400px;
    width: 75%!important;
    height: auto;
}

.position-container{

    width: 25vh;
    margin-bottom: 1rem!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EditCarousel-Container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.EditCarousel-Container h4{
color: #707070;
margin-top: 1vh;
font-size: 2vh;
}

.enviar-button-carousel{
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.enviar-button-carousel button {
    border-radius: 10px;
    color: white;
    border: none;
    padding: 5px;
    width: 20%;
    box-shadow: 0px 3px 6px 0px rgba(157, 206, 255, 0.16);

 }

 .enviar-button-carousel .edit-save {
     min-width: 100px;
    background-color: #4bbc4c;
}

.enviar-button-carousel .edit-delete {
    width: 22%;
    background-color: #bc4b4b;
}

.enviar-button-carousel .editbutton {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.carousel-image-form{
    max-width: 300px;
    width: 80%;
}

.banner-container {
    display: flex;
    flex-direction: column;
}

.EditBanner-Container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .enviar-button-carousel .edit-delete-banner {
    width: 65%;
    background-color: #bc4b4b;
}

.banner-container .divider-banner-sup {
    display: flex;
}

.banner-container .divider-banner-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}

.divider-banner-sup .ant-row-images {
    width: 100%;
}

.divider-banner-sup .col-images {
    padding-left: 1%;
    padding-right: 1%;
  }
  
  
  .divider-banner-sup   .textbanner {
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
  }
  
  .divider-banner-sup   .textbanner a{
    display: block;
      width: 100%;
      height: 100%;
  }
  
  .divider-banner-sup   .text-banner-image {
    position: relative;
    padding-top: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .divider-banner-sup   .text-banner-image img{
    position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .EditBanner-Container .input-group {
    margin-top: 10px;
  }
  
  @media (max-width: 685px) {
    .divider-banner-sup .col-images {
      flex: none !important;
      max-width: none !important;
    }
    .divider-banner-sup .ant-row-images {
      flex-flow: column !important;
    }

    .divider-banner-sup   .text-banner-image {
      padding-top: 55% !important;
    }
    
  }

  @media (max-width: 1150px) {
    .divider-banner-sup   .text-banner-image {
      padding-top: 100%;
    }
  }

  @media (max-width: 1000px) {
    .divider-banner-sup   .text-banner-image {
      padding-top: 135%;
    }
  }

  @media (max-width: 735px) {
    .divider-banner-sup   .text-banner-image {
      padding-top: 165%;
    }
  }

  @media (max-width: 575px) {
    .divider-banner-sup   .text-banner-image {
      padding-top: 70% !important;
    }
  }

  @media (max-width: 460px) {
    .divider-banner-sup   .text-banner-image {
      padding-top: 85% !important;
    }
  }

