.searchpage-content {
  display: flex;
  /*align-items: center;*/
  width: 90%;
  flex-direction: row;
  max-width: 1400px;
}

.search-title {
  margin-top: 50px;
  margin-left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-icon {
  margin-right: 50px;
  display: none;
}

.filters-container {
  width: 270px;
  height: 573px;
  border-radius: 0 66px 66px 0;

  margin-top: 50px;
  /* margin-right: 50px; */
  background-color: var(--mainColor);
  position: absolute;
  left: 0;
}

.filters-container form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.filters-container form strong {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.filters-container form button {
  border: 0;
  border-radius: 10px;
  margin-top: 30px;
  height: 40px;

  background-color: black;
  color: var(--mainColor);

  font-weight: bold;
  font-size: 18px;
}

.filters-container form input,
select {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid black;
}

.price-range {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.price-range input {
  width: 70px;
  height: 20px;
  margin: 0 5px;
  color: black;
}

.price-range input:placeholder {
  color: black;
}

.product-container-wrapper.on-searchpage {
  align-items: center;
}

.close-icon-container {
  visibility: hidden;
  display: none;
}

@media (max-width: 890px) {
  .results,
  .product-container-wrapper {
    width: 100%;
  }

  /* .searchpage-content {
    position: relative;
  } */

  .filters-container {
    position: absolute;
    left: -1000px;
    top: 100px;
    z-index: 10000;

    transition: all 0.5s ease;
  }

  .filters-container.visible {
    /* border-radius: 0; */
    left: 0;

    visibility: visible;
  }

  .filter-icon {
    display: inline;
    cursor: pointer;
  }

  .close-icon-container {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 40px;
    padding-right: 40px;
  }

  .close-icon {
    cursor: pointer;
  }
}
