.Footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
}

.footer-buttons {
  color: black;
}

.logos {
    height: 20vh;
}

#LogoFooter {
  margin-right: 10px;
}

#ContatoFooter {
    padding-left: 30px;
    font-weight: bolder;
    padding-right: 30px;
}
.icons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    
}

.FooterWrapper {
  display: flex;
  max-width: 800px;
}

@media screen and (min-width: 801px) {
    div.Footer {
        font-size: 16px;
    }
}
@media screen and (max-width: 800px) {
    div.Footer {
      flex-direction: column;
      align-items: center;
    }
    div.FooterWrapper {
      flex-direction: column;
      align-items: center;
      padding: 50px;
    }
    div.icons {
      width: 75%;
    }
    #ContatoFooter {
      width: 100%;
      padding: 0;
    }
  }
  
