.Footer {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 20px;
    padding-top: 40px;
    background-color: #f9ce56;
}

.footer-buttons {
  color: black;
}

.TextoFooter {
  display: flex;
  flex-direction: column;
}

.textos-footer {
display: flex;
}

#texto-institucional {
  display: flex; 
  flex-direction: column;
  width: 17vw;
  margin-right: 2vw;
}

#texto-ajuda {
  display: flex; 
  flex-direction: column;
  width: 17vw;
  margin-right: 2vw;
}

.term-link {
  margin-bottom: 2px;
  margin-top: 2px;
  color: black;
  font-size: 2vh;
}
  
.logos {
    height: 20vh;
}

#LogoFooter {
  margin-right: 10px;
}

#ContatoFooter {
  display: flex; 
  flex-direction: column;
    font-weight: bolder;  
    width: 17vw;
    margin-right: 2vw;
}
.icons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    
}

.FooterWrapper {
  display: flex;
  justify-content: center;
  max-width: 1000px;
}

@media screen and (min-width: 801px) {
    div.Footer {
        font-size: 16px;
    }
}
@media screen and (max-width: 800px) {
    div.Footer {
      flex-direction: column;
      align-items: center;
    }
    .textos-footer {
      flex-direction: column;
    }
    #texto-ajuda {
      margin-top: 1vh;
    }
    div.FooterWrapper {
      flex-direction: column;
      align-items: center;
      padding: 50px;
    }
    div.icons {
      width: 75%;
    }
    #ContatoFooter {
      width: 100%;
      padding: 0;
    }
    #LogoFooter {
      margin-top: 2vh;
    }
  }
  
.FooterWrapper h3 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  width: 100%;
}