:root {
  --mainColor: #daa621;
  --text-color: #333;
  --green-color: #00b016;
  --background: #f8f8f4;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f4;
}

html {
  height: 100%;
}

body {
  font-family: "Comfortaa", cursive !important;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

button {
  cursor: pointer;
}

.input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid var(--mainColor);
  border-radius: 8px;
  padding: 0 24px;
  margin-bottom: 10px !important;
}

.link {
  text-decoration: none;
  width: 100%;
}

.button {
  width: 100%;
  height: 60px;
  border: 0;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  text-decoration: none;
}
