.w-100{
height: auto;
margin-top: 3vh;
}

.Carousel{
    width: 1200px;
    display: flex;
    align-items: center;
    max-width: 90vw;
}

.carousel{
    width: 1200px;
    max-width: 100vw;
}

@media (max-width: 650px) {
    .Carousel {
    width: 100%;
    }
    .carousel {
        width: 100%;
    }
}